@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #171717;
    font-size: 22px;
}

body {
    opacity: 0;
    transition: opacity 5s;
}

.blurb {
    position: relative;
    z-index: -2;
}

.canvas {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    /* display: none; */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
